<div class="container">
        <br>  <br>  <br>
        <h3> 
          Tour Of Heros
        </h3>
        <hr>
        <tr>
            <td>
                <a routerLink="/">
                    <button class="btn btn-default" >Dashboard</button>
                </a>
            </td>
            <td>   
                <a routerLink="/heros">
                        <button class="btn btn-default">Heros</button>
                </a> 
            </td>
        </tr>

        <br><br>
        
  <router-outlet></router-outlet>
</div>